.main-container {
  font-family: Arial, sans-serif;
  background-color: white;
  color: red;
  padding: 20px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.logout-button {
  background-color: white;
  color: red;
  border: 1px solid red;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-button:hover {
  background-color: red;
  color: white;
}

.categories-bar {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.category-button {
  margin: 0 10px;
  padding: 10px 20px;
  border: 1px solid red;
  background-color: red;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.category-button.active {
  background-color: white;
  color: red;
}

.category-button:hover {
  background-color: white;
  color: red;
}

.main-content {
  display: flex;
  gap: 20px;
}

.sidebar {
  background-color: red;
  color: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

.view-cart-button,
.view-history-button,
.view-inventory-button,
.view-reviews-button {
  background-color: white;
  color: red;
  border: 1px solid red;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.view-cart-button:hover,
.view-history-button:hover,
.view-inventory-button:hover,
.view-reviews-button:hover {
  background-color: red;
  color: white;
}

.products-container {
  flex: 3;
  background-color: white;
  color: red;
  padding: 20px;
  border-radius: 10px;
}
